<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2015 eBusiness Information

    This file is part of OSM Contributor.

    OSM Contributor is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    OSM Contributor is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with OSM Contributor.  If not, see <http://www.gnu.org/licenses/>.

-->
<manifest
    package="io.mapsquare.osmcontributor"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_CHANGE"/>

    <application
        android:name=".OsmTemplateApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/gms_version"
            tools:replace="android:value"/>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="fa5f6bab15b8638cbf45357060825fcdcb6e0050"/>

        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:label="@string/name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MapActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/name"/>
        <activity
            android:name=".ui.activities.EditPoiActivity"
            android:label="@string/title_activity_edit_poi"/>
        <activity
            android:name=".ui.activities.PickValueActivity"
            android:label="@string/title_activity_pick_value"/>
        <activity
            android:name=".ui.activities.MyPreferencesActivity"
            android:label="@string/title_activity_my_preferences"/>
        <activity
            android:name=".ui.activities.TypeListActivity"
            android:label="@string/manage_poi_types"/>
        <activity
            android:name=".ui.activities.NoteActivity"
            android:label="@string/title_activity_note"/>
        <activity
            android:name=".ui.activities.UploadActivity"
            android:label="@string/title_activity_upload"/>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="@string/title_activity_about"/>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/>

    </application>

</manifest>
